{
  "mimo": {
    "type": "api",
    "key": "mimo-free"
  },
  "xiaomi": {
    "type": "api",
    "key": ""
  },
  "deepseek": {
    "type": "api",
    "key": ""
  },
  "zhipuai": {
    "type": "api",
    "key": ""
  },
  "google": {
    "type": "api",
    "key": ""
  },
  "openai": {
    "type": "api",
    "key": ""
  }
}
